html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100dvh;
}

/* global styles */
body {
    min-height: 100vh;
    min-height: 100dvh;
    position: relative;
    margin: 0;
    font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
    font-weight: 1100;
    color: white;
    /* background: linear-gradient(to bottom, #111111 25%, #222222 50%, #515151 65%, #808080 70%, #FFFFFF 100%); */
    background: linear-gradient(to bottom, #111111 15%, #221F20 45%, #515151 60%, #75777A 75%, #EAEBEC 100%);
}


/* body-text styling */
.body-text {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 0.5rem;
    /* font-family: "Arial Black", Arial, sans-serif;  */
    color: #FFFFFF;
    max-height: 70vh; 
    overflow: hidden;
    width: 50%;
}

.body-text p {
    font-size: clamp(1rem, 3vw, 2rem);
    line-height: 1.15;
    white-space: normal;
    margin: 0;
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: bold;
}

.body-text a {
    color: white;
    text-decoration: underline;
}

/* body-logo styling */
.body-logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.body-logo img {
    width: 25rem;
    height: auto;
}

/* mobile styles */
@media only screen and (max-width: 768px) {
  
    .body-text {
        width: 95%;
        height: 60vh;
        overflow: hidden;
    }

    .body-text p {
        font-size: clamp(1.2rem, 5vw, 2rem);
        line-height: 1.2;
        margin: 0;
        white-space: normal;
    }
  
    .body-logo {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        padding-bottom: env(safe-area-inset-bottom);
    }
  
    /* swap logo image for mobile */
    .body-logo img {
        width: 10rem;
        content: url("images/FF_LOGO_BLACK_WHITE_BOX.png");
    }
}

/* iPad */
@media only screen and (min-width: 769px) and (max-width: 1180px) {
    .body-logo img {
      width: 16rem; /* scale down from desktop 25rem, adjust as you like */
    }
}

@supports (padding: env(safe-area-inset-bottom)) {
    .body-logo {
        bottom: 0;
        padding-bottom: calc(env(safe-area-inset-bottom) + 1rem);
    }
}